
#display-surface {
    -fx-background-color: white;
    -fx-pref-width: 10000;
    -fx-pref-height: 10000;
}

#my-path {
    -fx-stroke: black;
    -fx-stroke-width: 3;
}

#my-path.visible {
    -fx-opacity: 1.0;
}

#my-path.invisible {
    -fx-opacity: 0.0;
}